<h4> Welcome...to... </h4>
<h1> HOTEL ROOMS <h1>

<%= image_tag("http://g-cdn.apartmenttherapy.com/2701187/02tuborow_rect540.jpg") %>

<% @rooms.each do |room| %>

<hr>
<h3>Title:</h3>
<p><%= room.title %></p>
<br>
<h3>Description:</h3>
<p><%= room.description %></p>
<br>
<h3>Price Per Night:</h3>
<p>$<%= room.price_per_night %></p>

<% end %>
