<h4> Welcome...to... </h4>
<h1> HOTEL ROOMS <h1>

<%= image_tag("http://g-cdn.apartmenttherapy.com/2701187/02tuborow_rect540.jpg") %>

<h3> Hotel Room...ONE <h3>
<p> Type: Tubular </p>
<p> Size: Discrete </p>
<p> Amenities: Concrete size bed </p>
<br>
<h3> Hotel Room...TWO <h3>
<p> Type: Tubular </p>
<p> Size: Discrete </p>
<p> Amenities: Concrete size bed </p>
<br>
<h3> Hotel Room...THREE <h3>
<p> Type: Tubular </p>
<p> Size: Discrete </p>
<p> Amenities: Concrete size bed </p>
<br>
<h3> Hotel Room...FOUR <h3>
<p> Type: Tubular </p>
<p> Size: Discrete </p>
<p> Amenities: Concrete size bed </p>
